{{ define "head" }}
	{{ if .Params.featuredImg -}}
		<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
			<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
	{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	{{- if .Params.image }}
	{{ $lang := .Site.Params.defaultContentLanguage | default "en" }}
	{{ $path := .Params.image | split "/" }}
	{{ $contentDir := .Page.Section }}
	{{ $imagePath := printf "%s/%s/%s" $lang $contentDir (index $path 0) }}
	<div class="post-image" style="text-align: center; margin-bottom: 20px;">
	<img src="{{ .Site.BaseURL }}{{ $imagePath }}/{{ .Params.image }}" alt="{{ .Title }}" style="max-width: 100%; height: auto;">
	</div>
	{{- end }}
	<main class="site-main section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">
		<h1>{{ .Title }}</h1>
		<div class="content">
			{{ .Content | safeHTML }}
		</div>

		{{- if .Params.website }}
			<div class="post-website">
				<a href="{{ .Params.website }}" target="_blank" rel="noopener" class="address-link">
					Visit Website
				</a>
			</div>
		{{- end }}

		{{- if and .Params.address .Params.addressLink }}
			<div class="post-address">
				<a href="{{ .Params.addressLink }}" target="_blank" rel="noopener" class="address-link">
					{{ .Params.address }}, {{ .Params.postcode }} {{ .Params.city }}
				</a>
			</div>
		{{- end }}

		{{ partial "brainMade.html" . }}

		{{- if .Params.comments }}
			<div id="comments" class="thin">
				{{ partial "comments.html" . }}
			</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
	{{ partialCached "footer.html" . }}
{{ end }}
